PORT=8787
APP_ORIGIN=http://localhost:5173
ADMIN_TOKEN=dev-admin-token
TICKETMASTER_API_KEY=
TICKETMASTER_DAYS_AHEAD=30
TICKETMASTER_MAX_PAGES=6
TICKETMASTER_PAGE_SIZE=200
OPENACTIVE_FEEDS=
DEV_ALLOW_SAMPLE_EVENTS=false
LIVE_EVENTS_ONLY=true
LIVE_MAX_TOTAL=420
LIVE_NEAR_DAYS=3
LIVE_PER_DAY_LIMIT=120
LIVE_PER_DAY_CITY_LIMIT=10
LIVE_PER_DAY_CATEGORY_LIMIT=24
LIVE_PER_DAY_NEAR_LIMIT=120
LIVE_PER_DAY_FAR_LIMIT=180
LIVE_PER_DAY_CITY_NEAR_LIMIT=10
LIVE_PER_DAY_CITY_FAR_LIMIT=16
LIVE_PER_DAY_CATEGORY_NEAR_LIMIT=24
LIVE_PER_DAY_CATEGORY_FAR_LIMIT=36
LIVE_CITY_TOTAL_LIMIT=36
LIVE_SOURCE_CITY_TOTAL_LIMIT=24
WHAT3WORDS_API_KEY=
STRIPE_SECRET_KEY=
STRIPE_PRICE_ID=
STRIPE_WEBHOOK_SECRET=
STRIPE_TRIAL_DAYS=30
LINK_CHECK_INTERVAL_MS=10800000
LINK_CHECK_MAX_PER_RUN=40
LINK_CHECK_STALE_HOURS=24
AUTO_APPROVE_SUBMISSIONS=true
MIN_WEEKLY_EVENTS=220
